*.so filter=lfs diff=lfs merge=lfs -text
*.data_10_percent filter=lfs diff=lfs merge=lfs -text
kddcup.data_10_percent filter=lfs diff=lfs merge=lfs -text
.local/lib/python3.10/site-packages/clang/native/libclang.so filter=lfs diff=lfs merge=lfs -text
.local/lib/python3.10/site-packages/tensorflow/libtensorflow_framework.so.2 filter=lfs diff=lfs merge=lfs -text
.local/lib/python3.10/site-packages/tensorflow/libtensorflow_cc.so.2 filter=lfs diff=lfs merge=lfs -text
